@font-face {
    font-family: minotaur-bold;
    src: fonts/minotaur-bold-TRIAL.otf
}

h1 {
    font-family: minotaur-bold;
}

/* ANNOUNCEMENT BAR */
    /* remove margin */
    .alert {
        margin: 0;
        background-color: #FFBDA3;
        color: black;
    }

body, html {
    height: 100%;
}

/* HERO BANNER */
    /* provide an image source for the background */
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpaperaccess.com/full/626893.jpg");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    /* place text in the middle of the image */
        .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

/* SHOP CATEGORY */
    /* let jumbatrons be side by side */
    .shop-category {
        display: flex;
    }

/* FEATURED COLLECTION */

    /* occupy only half the screen and provide padding */
    .featured-image {
        width: 50%;
        padding-right: 1%;
    }

    /* scale image and position it to the right */
    .featured-image img {
        width: 70%;
        float: right;
    }

    /* occupy only half the screen and provide padding */
    .featured-text {
        width: 50%;
        padding-left: 1%;
    }

    /* scale down length of the text container */
    .featured-text-container {
        width: 70%;
    }

    /* let image and text be side by side */
    .featured {
        display: flex;
    }

/* TRENDING ITEMS */
    /* let trending items be side by side */
    /* position in the middle */
    .trending {
        display: flex;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    /* provide spacing between each item */
    .card {
        margin: 1%;
    }

/* ABOUT SNIPPET */
    /* occupy only half the screen */
    .about-snippet-image {
        width: 50%;
    }

    /* allow image to fill up the entire image container */
    .about-snippet-image img {
        width: 100%;
    }

    /* occupy only half the screen */
    .about-snippet-text-container {
        width: 50%;
    }

    /* scale down text container's width */
    /* centralise text */
    .about-snippet-text {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    /* let image and text be side by side */
    .about-snippet {
        display: flex;
    }

/* LOVE NOTES CAROUSEL */
    /* display items as block */
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev{
        display:block;
    }

    .love-notes {
        background-color: pink;
    }

/* INSTAGRAM */
    /* scale down the container for each thumbnail */
    .instagram-thumbnail {
        width: 25%;
    }

    /* allow the image to occupy the entire container */
    .instagram-thumbnail img {
        width: 100%;
    }

    /* let each thumbnail be side by side */
    .instagram {
        display: flex;
    }