button {
    background-color: #ffe7d3;
    font-family: degular;
    font-weight: 200;
    font-size: 0.85rem;
    letter-spacing: 0.08rem;
    border-radius: 16px;
    border: none;
    color: #3b3b3b;
    padding: 5% 7%;
}

button:hover {
    background-color: #ffb795;
    color: white;
    transition: 0.3s;
}

/* Announcement */

.alert {
    font-family: degular;
    font-size: 0.7rem;
    color: black;
    background-color: #ffe7d3;
    letter-spacing: 0.08rem;
    border-radius: 0;
    margin: 0;
}

.close {
    font-weight: 0;
    font-size: 1rem;
}

.announcement {
    display: flex;
    justify-content: center;
}
/* -- */

/* Navigation */

.navbar-brand {
    font-family: span;
    font-weight: 700;
    color: #3b3b3b;
}

.bg-light {
    background-color: #fff4eb !important;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

button:focus, button:active {
    outline: none !important;
    box-shadow: none;
}

.navbar-toggler-icon {
    width: 1.2rem;
}

.navbar-light .navbar-nav .nav-link {
    font-family: degular;
    font-weight: 200;
    font-size: 0.9rem;
    color: rgb(65, 65, 65);
}

.navbar-light .navbar-nav .nav-link:hover {
    font-weight: 400;
    color: #e28634;
    transition: 0.4s;
}

/* -- */

/* Hero */

.hero-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.hero-title {
    font-family: span;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    padding-bottom: 5%;
}

.hero {
    position: relative;
    background-image: url("media/images/hero-banner/hero.jpg");
    background-position: center;
    background-size: cover;
    height: 75vh;
}

.hero button {
    padding: 7% 12%;
}
/* -- */

/* Category */
.shop-category {
    display: flex;
    flex-wrap: wrap;
    padding: 3% 8% 3.5% 8%;
    background-color: #fff8f2;
}

.category-item {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    position: relative;
}

.category-item:hover {
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

.category-item:hover button {
    color: #fff4eb;
    transition: 0.3s;
}

.category-item img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.cat-title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: span;
    font-weight: 700;
    font-size: 2.5vw;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    letter-spacing: 0;
}

.cat-title:hover {
    background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1023px) {
    .category-item {
        flex: 50%;
        max-width: 50%;
    }

    .cat-title {
        font-size: 4vw;
    }
}

@media screen and (max-width: 767px) {
    .shop-category {
        justify-content: center;
    }

    .category-item {
        flex: 80%;
        max-width: 80%;
    }

    .cat-title {
        font-size: 6vw;
    }
  }
  /* -- */


  .featured {
      display: flex;
      flex-wrap: wrap;
      padding: 0% 8% 3%;
      /* border: 1px solid blue; */
      background-color: #fff8f2;
      color: #3b3b3b;
  }

  .featured-image {
      /* border: 1px solid black; */
      flex: 50%;
      max-width: 50%;
  }

  .featured img {
      width: 100%;
  }

  .featured-body {
      /* border: 1px solid red; */
      flex: 50%;
      max-width: 50%;
      padding: 0% 10%;
      margin-top: auto;
      margin-bottom: auto;
  }

  #featured-title {
      font-family: span;
      font-size: 2.5vw;
      font-weight: 700;
      padding-bottom: 3%;
  }

  #featured-para {
      font-family: span;
      font-weight: 300;
      font-size: 1.2vw;
      padding-bottom: 8%;
  }
      

  @media screen and (max-width: 1023px) {
      .featured-image {
          height: 70vh;
          position: relative;
          overflow: hidden;
      }

      .featured img {
          height: 100%;
          width: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }

      #featured-title {
          font-size: 4vw;
      }

      #featured-para {
          font-size: 1.5vw;
      }
  }

  @media screen and (max-width: 767px) {
      .featured {
          justify-content: center;
          padding: 10% 0%;
      }

      .featured-image {
          flex: 100%;
          max-width: 100%;
      } 

      .featured-body {
          flex: 100%;
          max-width: 100%;
          text-align: center;
          padding-top: 5%;
      }

      #featured-title {
          font-size: 6vw;
      }

      #featured-para {
          font-size: 2.5vw;
      }
  }